/* General App styles */
.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}
/* Assigned vehicle overlay */
.assigned-vehicle-overlay {
  position: absolute;
  top: 10px; /* This places it directly below the RideRequestForm */
  right: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(32, 32, 32, 0.2);
  z-index: 1000; /* Ensure the overlay stays on top of the map */
  width: 500px;
  padding: 20px;
}
.App-header {
  background-color: #ffffff;
  height: 5vh; /* Reduce the height to only cover the top bar */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  z-index: 100; /* Ensure it stays on top */
  position: relative;
  width: 100%;
  top: 0;
}

/* Flex container for sidebar and map */
.app-container {
  display: flex;
  flex-direction: row;
  height: 95vh; /* Remaining height for content, map + sidebar */
  margin-top: 8vh; /* Ensures it starts below the header */
}

.map-wrapper {
  flex-grow: 1; /* Map will take up the remaining space */
  position: relative;
  z-index: 1; /* Map content layer */
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%; /* Fill available height */
}

/* Ride request form overlay */
.overlay-form {
  position: absolute;
  top: 10px;
  right: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(32, 32, 32, 0.2);
  z-index: 1000; /* Ensure form stays above map */
}

/* Input form styling */
.overlay-form form {
  display: flex;
  flex-direction: column;
}

.overlay-form input, 
.overlay-form button {
  margin-bottom: 10px;
}

.ride-request-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Ensure it stays on top of the map */
  width: 300px;
}

/* Keyframe for spinning logo (if needed) */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
